
mixin header(message)
  h1.ui.header
    i.student.icon
    .content #{message}
  .ui.divider

mixin body
  section: .ui.segment
    h2.ui.header #{package.name}
    p This repository contains a boilerplate for start using 
      a(href='https://pugjs.org'): code Pug
      |  and 
      a(href='https://semantic-ui.com'): code Semantic UI
      |  to build a clean website consisted of static HTML/CSS/JavaScript files.
    h3.ui.header Prerequisite
    ul
      li Windows, macOS, Linux, all OK!
      li Install 
        a(href='https://nodejs.org'): code Node.js
        |  as well as 
        a(href='https://gulpjs.com/'): code Gulp
        |  (<code>npm install -g gulp-cli</code>) before typing the commands below.
    h3.ui.header How to build this website
    ol
      li Simply fork/clone 
        a(href='https://github.com/arcatdmz/hello-pug-semantic-ui') the repo
      li <code>npm install</code>
      li <code>gulp</code>
      li Done!
    p These simple steps would build the entire Semantic UI framework as well as pug files in the <code>pug</code> directory.
    p After you edit pug files, you probably want to only compile them (not the Semantic UI framework) &mdash; type <code>gulp pug</code> for that. Read the gulpfile.js to find out why that would not compile the framework.
    h3.ui.header Next step?
    p You might want to check out 
      a(href='https://www.browsersync.io'): code browser-sync
      |  for auto-reloading the web browser whenever the source code is edited, 
      a(href='https://github.com/bezoerb/gulp-htmlhint'): code gulp-htmlhint
      |  for syntax-checking the produced HTML files, 
      a(href='https://github.com/purifycss/gulp-purifycss'): code gulp-purifycss
      |  for removing unused CSS code from the huge Semantic UI CSS file.
    p Good luck!
    p For an example of more advanced <code>gulpfile.js</code>, see 
      a(href='https://github.com/arcatdmz/junkato.jp/blob/master/gulpfile.js') junkato.jp/gulpfile.js at master
      |  used to build 
      a(href='https://junkato.jp') junkato.jp
      | .
  .ui.hidden.divider
  section: .ui.piled.segment
    h2.ui.header package.json content
    pre #{JSON.stringify(package, null, '  ')}

mixin footer
  .ui.divider
  footer: p &copy; <a href="https://junkato.jp">Jun Kato</a> | 2018 | all code in this repo is MIT-licensed

doctype html
html(lang='en')
  head
    title Hello World!
    link(rel='stylesheet', href='semantic-ui/semantic.min.css')
    style(type='text/css').
      footer { text-align: center; }
  body
    .ui.container
      .ui.basic.segment: +header('A Simple Boilerplate for Pug and Semantic UI')
      +body()
      .ui.basic.segment: +footer()
    script(src='https://code.jquery.com/jquery-3.2.1.min.js', crossorigin='anonymous')
    script(src='semantic-ui/semantic.min.js')
